<div class="container">
    <div class="row">
       <h2>Contact </h2>

       <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label for="name">Name:</label>
              <input #refName type="text" class="form-control" formControlName="name">
              <!-- <span>{{refName.className}}</span> -->
              <div *ngIf="userForm.controls['name'].hasError('required')" class="alert alert-danger">
                Please enter a name
              </div>
              <div *ngIf="userForm.controls['name'].hasError('minlength')" class="alert alert-danger">
                  Please enter atleast 4 characters
              </div>

                <div *ngIf="userForm.controls['name'].hasError('maxlength')" class="alert alert-danger">
                    Please enter max 10 characters
                </div>
            </div>
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" formControlName="email">
        </div>
        <div formGroupName="address">
          <div class="form-group">
              <label for="street">Street:</label>
              <input type="text" class="form-control" formControlName="street">
            </div>

            <div class="form-group">
                <label for="city">City:</label>
                <input type="text" class="form-control" formControlName="city">
              </div>

              <div class="form-group">
                  <label for="postalcode">Postal Code:</label>
                  <input type="number" class="form-control" formControlName="postalcode">
              </div>
              <div *ngIf="userForm.controls['address'].controls['postalcode'].hasError('pattern')" class="alert alert-danger">
                  Postalcode format is five digits 
              </div>
        </div>      
        
        
        <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Submit</button>
      </form>
      <p>Form value: {{ userForm.value | json }}</p>

      <h3>Form Data</h3>
    <table class="table">
            <thead>
              <tr>
                <th>Index:</th>
                <th>Name:</th>
                <th>Email:</th>
                <th>Street:</th>
                <th>City:</th>
                <th>PostalCode:</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let formData of formDatas; let i = index;">
                <td>{{i}}</td>
                <td>{{formData.name}} </td>
                <td>{{formData.email}}</td>
                <td> {{formData.address.street}}</td>
                <td>{{formData.address.city}}</td>
                <td>{{formData.address.postalcode}}</td>
                <td><button type="button" (click)="deleteData(i)">Delete </button></td>
              </tr>
              
            </tbody>
          </table>

    </div>
</div>
